config NUBIA_SENSORS_FP_GF3266
	tristate "nubia sensors fp gf3266"
	depends on NUBIA_SENSORS_FP
	default n
	help
	  This is the main file for fingerprint driver for gf3266.
	  Say Y here if you have a gf5216m fingerprint connected
	  to your system.
